.primitive-ui .surface {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.primitive-ui .surface.absolute,
.primitive-ui .surface > * {
  position: absolute;
}

.primitive-ui .surface.point,
.primitive-ui .surface.horizontal {
  height: 0;
}

.primitive-ui .surface.point,
.primitive-ui .surface.vertical {
  width: 0;
}
